.top-nav {
    display: none;
}

header {
    background: linear-gradient(90deg, rgba(190,3,61,1) 0%, rgba(229,11,79,1) 48%, rgba(235,76,125,1) 100%);
    text-align: center;
    margin-bottom: 1rem;
}

.fa-bars {
    position: relative;
    float: left;
    top: 1.1rem;
    left: 1rem;
    font-size: 2rem;
}