.top-nav {
    display: none;
}

header {
    background: linear-gradient(90deg, rgba(190,3,61,1) 0%, rgba(229,11,79,1) 48%, rgba(235,76,125,1) 100%);
    text-align: center;
    margin-bottom: 1rem;
}

.fa-bars {
    position: relative;
    float: left;
    top: 1.1rem;
    left: 1rem;
    font-size: 2rem;
}

@media (min-width:901px) {   
    header h1 {
        margin: auto;
    }

    .fa-bars {
        display: none;
    }

    .top-nav {
        display: flex;
        list-style: none;
        justify-content: center;
        background-color: white;
        padding: 0;
        border-bottom: .5px solid #f5f5f5;
    }

    .top-nav > li {
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 1px solid transparent;
        line-height: 48px;
    }

    .top-nav > li:hover {
        border-bottom: 1px solid #ff0a58;
    }
}